* {
    padding: 0;
    margin: 0;
}

.main {
    margin-top: 26px;
    padding-right: 65px;
    padding-left: 65px;
    box-sizing: border-box;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-weight: 400;
    font-size: 17px;
    color: rgba(0, 0, 0, 1);
}

.nav-btn>a {
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    color: rgba(0, 0, 0, 1);
    margin-left: 30px;
}

.nav-btn>a:hover {
    color: rgb(133, 133, 133);;
}

.img1 {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

.hero {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.hero a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero>a>img {
    width: 70px;
    height: 70px;
    font-weight: 400;
    font-size: 17px;
}

.prg {
    margin-top: 15px;
}

.card {
    margin: 1.5em;
}

.card-img {
    width: 100%;
}

.card-name {
    font-weight: 400;
    font-size: 23px;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5);
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10);
    }
}

.hero2 {
    margin-bottom: 100px;
}

.hero3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.dwel-disc {
    display: flex;
}

.dwel-disc p {
    font-size: 17px;
    font-weight: 400;
}

.license {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.license p {
    min-width: max-content;
    margin: 0;
}

.pb {
    margin-right: 3px;
    font-size: 18px;
    font-weight: 400;
}

.webflow {
    text-decoration: underline;
}

.DWEL p {
    margin: 0;
    margin-bottom: 3px;
    font-size: 17px;
    font-weight: 400;
}